snippet code "add code block"
\`\`\`${1:Language}
${2:Body}
\`\`\`
endsnippet

snippet slide "create new slide"
## ${1:Title}

${2:Body}

---

endsnippet

snippet date "insert todays' date"
${1:`date +"%Y-%m-%d"`}
endsnippet

snippet dh "insert date header"
# `date +"%Y-%m-%d"`
${2}
endsnippet
